version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 1
    commit-message:
      prefix: "build"
      include: "scope"
    groups:
      webpack:
        patterns:
          - "copy-webpack-plugin"
          - "terser-webpack-plugin"
          - "webpack"
          - "webpack-cli"
          - "webpack-dev-server"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 1
    commit-message:
      prefix: "ci"
      include: "scope"
