name: Playwright Tests
on:
  pull_request:
  schedule:
    - cron: '18 18 * * *'
  workflow_dispatch:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
      options: --user 1001
    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Build project
        run: pnpm run build
      - name: Run Playwright tests for local server
        if: github.event_name == 'pull_request'
        run: pnpm run test
        env:
          USE_DEPLOYED_SITE: 'false'
      - name: Run Playwright tests for deployed site
        if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
        run: pnpm run test
        env:
          USE_DEPLOYED_SITE: 'true'
      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
